@using RS.Core.Application.ViewModels.User
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; padding-top: 50px;">
    <div class="row w-100">
        <div class="col-lg-6 offset-lg-3">
            <div class="card shadow-lg p-4">
                <div class="card-header bg-dark text-light text-center">
                    <h4>Recuperar Contraseña</h4>
                </div>
                <div class="card-body">

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <form method="post" asp-controller="User" asp-action="ForgotPassword">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo Electrónico:</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                            <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver Atrás</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
